<!--
~ Licensed to the Apache Software Foundation (ASF) under one or more
~ contributor license agreements.  See the NOTICE file distributed with
~ this work for additional information regarding copyright ownership.
~ The ASF licenses this file to You under the Apache License, Version 2.0
~ (the "License"); you may not use this file except in compliance with
~ the License.  You may obtain a copy of the License at
~
~    http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
~
-->
<sp-basic-view
    [showBackLink]="true"
    [backLinkTarget]="backLink"
    [padding]="true"
>
    <!-- Nav bar buttons -->
    <div
        nav
        fxFlex="100"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="10px"
        class="pl-10"
    >
        <button
            mat-button
            mat-flat-button
            color="accent"
            (click)="triggerCsvUpload()"
            matTooltip="{{ 'Upload a CSV file (adapterId,topic)' | translate }}"
            data-cy="upload-mapping-csv-button"
        >
            <i class="material-icons">upload_file</i>&nbsp;
            {{ 'Upload CSV' | translate }}
        </button>
        <input
            #csvFileInput
            type="file"
            accept=".csv"
            style="display: none"
            (change)="onCsvFileSelected($event)"
        />
    </div>

    <div fxLayout="column" class="page-container-padding-inner">
        <!-- Add mapping section -->
        <sp-split-section
            [title]="'Add Mapping' | translate"
            [subtitle]="
                'Map an adapter name to its asset hierarchy location'
                    | translate
            "
        >
            <div
                fxLayout="row"
                fxLayoutAlign="start start"
                fxLayoutGap="10px"
                section-actions
            >
                <button
                    mat-button
                    mat-flat-button
                    color="accent"
                    [disabled]="!canAdd"
                    (click)="addMapping()"
                    data-cy="add-mapping-button"
                >
                    <i class="material-icons">add</i>&nbsp;
                    {{ 'Add' | translate }}
                </button>
            </div>

            <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex="35">
                    <mat-label>{{ 'Adapter Name' | translate }}</mat-label>
                    <input
                        matInput
                        [(ngModel)]="newAdapterName"
                        placeholder="e.g. My MQTT Sensor"
                        data-cy="mapping-adapter-name-input"
                    />
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="35">
                    <mat-label>{{ 'Asset Location' | translate }}</mat-label>
                    <input
                        matInput
                        [(ngModel)]="newAssetLocation"
                        (ngModelChange)="onAssetLocationChange()"
                        placeholder="e.g. B/Zone1/Machine1"
                        data-cy="mapping-asset-location-input"
                    />
                    @if (assetLocationError) {
                        <mat-error>{{ assetLocationError }}</mat-error>
                    }
                </mat-form-field>
            </div>

            @if (saveError) {
                <p class="color-warn sp-subtitle-2">{{ saveError }}</p>
            }
            @if (saveSuccess) {
                <p class="color-success sp-subtitle-2">
                    {{ 'Mapping saved successfully.' | translate }}
                </p>
            }
        </sp-split-section>

        <!-- Existing mappings section -->
        <sp-split-section
            [title]="'Existing Mappings' | translate"
            [subtitle]="
                dataSource.data.length +
                ' ' +
                ('mapping(s) configured' | translate)
            "
        >
            <div
                fxLayout="row"
                fxLayoutAlign="start center"
                fxLayoutGap="10px"
                section-actions
            >
                <mat-form-field appearance="outline" class="form-field-small">
                    <mat-label>{{ 'Search' | translate }}</mat-label>
                    <mat-icon matPrefix>search</mat-icon>
                    <input
                        matInput
                        [(ngModel)]="searchText"
                        (ngModelChange)="onSearchChange()"
                        placeholder="{{
                            'Filter by adapter or location' | translate
                        }}"
                        data-cy="mapping-search-input"
                    />
                </mat-form-field>
            </div>

            @if (uploadResult) {
                <p class="sp-subtitle-2 mb-10">
                    {{ uploadResult.savedCount }}
                    {{ 'mapping(s) imported from CSV.' | translate }}
                    @if (uploadResult.errors?.length > 0) {
                        &nbsp;{{ uploadResult.errors.length }}
                        {{ 'error(s):' | translate }}
                        {{ uploadResult.errors.join(', ') }}
                    }
                </p>
            }

            <sp-table
                [showSearchFilter]="true"
                [dataSource]="dataSource"
                [columns]="displayedColumns"
                [showSelectionCheckboxes]="true"
                (selectionChanged)="onSelectionChanged($event)"
            >
                <ng-container matColumnDef="adapterName">
                    <th mat-header-cell *matHeaderCellDef>
                        <b>{{ 'Adapter Name' | translate }}</b>
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.elementId }}</td>
                </ng-container>

                <ng-container matColumnDef="assetLocation">
                    <th mat-header-cell *matHeaderCellDef>
                        <b>{{ 'Asset Location' | translate }}</b>
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.topic }}</td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let row">
                        <div fxLayout="row" fxLayoutAlign="end center">
                            <button
                                mat-icon-button
                                class="btn-warn"
                                color="accent"
                                [matTooltip]="'Remove mapping' | translate"
                                (click)="deleteRow(row)"
                                data-cy="delete-mapping-button"
                            >
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </td>
                </ng-container>

                <!-- Bulk actions toolbar (shown when rows are selected) -->
                <ng-template spTableMultiActions let-rows="selectedRows">
                    <button
                        mat-flat-button
                        class="btn-warn"
                        [matTooltip]="'Delete selected mappings' | translate"
                        (click)="deleteSelected(rows)"
                        data-cy="delete-selected-button"
                    >
                        <i class="material-icons">delete</i>&nbsp;
                        {{ 'Delete' | translate }}
                    </button>
                    <button
                        mat-flat-button
                        class="mat-basic"
                        [matTooltip]="
                            'Export selected mappings as CSV' | translate
                        "
                        (click)="exportSelected(rows)"
                        data-cy="export-selected-button"
                    >
                        <i class="material-icons">download</i>&nbsp;
                        {{ 'Export CSV' | translate }}
                    </button>
                </ng-template>
            </sp-table>
        </sp-split-section>
    </div>
</sp-basic-view>
