<!--
~ Licensed to the Apache Software Foundation (ASF) under one or more
~ contributor license agreements.  See the NOTICE file distributed with
~ this work for additional information regarding copyright ownership.
~ The ASF licenses this file to You under the Apache License, Version 2.0
~ (the "License"); you may not use this file except in compliance with
~ the License.  You may obtain a copy of the License at
~
~    http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
~
-->

<sp-basic-view
    [showBackLink]="true"
    [backLinkTarget]="backLink"
    [padding]="true"
>
    <div
        nav
        fxFlex="100"
        fxLayoutAlign="start center"
        fxLayout="row"
        fxLayoutGap="10px"
        class="pl-10"
    >
        <button mat-flat-button color="accent" (click)="openAddDevicePanel()">
            <mat-icon>add</mat-icon>&nbsp;{{ 'Add Device' | translate }}
        </button>
        <span fxFlex></span>
    </div>

    <div fxFlex="100" fxLayout="column">
        <sp-basic-header-title-component
            [title]="'Device Registry' | translate"
        ></sp-basic-header-title-component>

        @if (successMessage) {
            <div class="mb-sm sp-color-accent">
                {{ successMessage | translate }}
            </div>
        }
        @if (errorMessage) {
            <div class="mb-sm sp-color-warn">
                {{ errorMessage | translate }}
            </div>
        }

        <!-- Search -->
        <mat-form-field
            appearance="outline"
            color="accent"
            class="mb-sm device-search-field"
        >
            <mat-label>{{ 'Search devices' | translate }}</mat-label>
            <mat-icon matPrefix>search</mat-icon>
            <input
                matInput
                [(ngModel)]="searchTerm"
                [placeholder]="'Name or IP address...' | translate"
            />
        </mat-form-field>

        @if (filteredDevices.length === 0 && devices.length > 0) {
            <div class="mt-md text-sm sp-color-accent">
                {{ 'No devices match your search.' | translate }}
            </div>
        }

        <mat-accordion>
            @for (device of filteredDevices; track device.elementId) {
                <mat-expansion-panel (opened)="onPanelOpened(device)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span
                                fxLayout="row"
                                fxLayoutAlign="start center"
                                fxLayoutGap="10px"
                            >
                                <!-- Connectivity status badge -->
                                @if (
                                    reachabilityMap[device.elementId] === null
                                ) {
                                    <span
                                        class="device-status device-status--checking"
                                        [matTooltip]="
                                            'Checking connectivity...'
                                                | translate
                                        "
                                    >
                                        <mat-icon class="device-status__dot"
                                            >fiber_manual_record</mat-icon
                                        >
                                        <span class="device-status__label">{{
                                            'Checking' | translate
                                        }}</span>
                                    </span>
                                } @else if (
                                    reachabilityMap[device.elementId] === true
                                ) {
                                    <span
                                        class="device-status device-status--online"
                                        [matTooltip]="
                                            'Device is reachable' | translate
                                        "
                                    >
                                        <mat-icon class="device-status__dot"
                                            >fiber_manual_record</mat-icon
                                        >
                                        <span class="device-status__label">{{
                                            'Online' | translate
                                        }}</span>
                                    </span>
                                } @else {
                                    <span
                                        class="device-status device-status--offline"
                                        [matTooltip]="
                                            'Device is unreachable' | translate
                                        "
                                    >
                                        <mat-icon class="device-status__dot"
                                            >fiber_manual_record</mat-icon
                                        >
                                        <span class="device-status__label">{{
                                            'Offline' | translate
                                        }}</span>
                                    </span>
                                }
                                <span>{{ device.name }}</span>
                            </span>
                        </mat-panel-title>
                        <mat-panel-description>
                            {{ device.host }}&nbsp;·&nbsp;{{
                                device.pollingIntervalMs
                            }}ms
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <!-- Expanded content -->
                    <div fxLayout="column" class="p-10">
                        <!-- Metadata grid -->
                        <div class="device-meta-grid">
                            <div class="device-meta-item">
                                <mat-icon class="device-meta-item__icon"
                                    >router</mat-icon
                                >
                                <div fxLayout="column">
                                    <span class="device-meta-item__label">{{
                                        'IP Address' | translate
                                    }}</span>
                                    <span class="device-meta-item__value">{{
                                        device.host
                                    }}</span>
                                </div>
                            </div>
                            <div class="device-meta-item">
                                <mat-icon class="device-meta-item__icon"
                                    >timer</mat-icon
                                >
                                <div fxLayout="column">
                                    <span class="device-meta-item__label">{{
                                        'Polling Interval' | translate
                                    }}</span>
                                    <span class="device-meta-item__value"
                                        >{{
                                            device.pollingIntervalMs
                                        }}&thinsp;ms</span
                                    >
                                </div>
                            </div>
                        </div>

                        <mat-divider></mat-divider>

                        <!-- Actions -->
                        <div
                            fxLayout="row"
                            fxLayoutGap="8px"
                            fxLayoutAlign="start center"
                            class="pt-xs"
                        >
                            <button
                                mat-flat-button
                                color="accent"
                                (click)="openAddAdapterPanel(device)"
                                [matTooltip]="
                                    'Create a datapoint adapter for this device'
                                        | translate
                                "
                            >
                                <mat-icon>add</mat-icon>&nbsp;{{
                                    'Add Adapter' | translate
                                }}
                            </button>
                            <button
                                mat-icon-button
                                (click)="openEditDevicePanel(device)"
                                [matTooltip]="'Edit device' | translate"
                            >
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button
                                mat-icon-button
                                color="warn"
                                (click)="deleteDevice(device)"
                                [matTooltip]="'Delete device' | translate"
                            >
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-expansion-panel>
            }
        </mat-accordion>

        @if (devices.length === 0) {
            <div
                fxLayoutAlign="center center"
                fxLayout="column"
                fxLayoutGap="8px"
                class="mt-lg"
            >
                <mat-icon style="font-size: 48px; height: 48px; width: 48px"
                    >devices_other</mat-icon
                >
                <span class="text-md">{{
                    'No devices registered yet.' | translate
                }}</span>
                <button
                    mat-flat-button
                    color="accent"
                    (click)="openAddDevicePanel()"
                >
                    {{ 'Add your first device' | translate }}
                </button>
            </div>
        }
    </div>
</sp-basic-view>
