<!--
~ Licensed to the Apache Software Foundation (ASF) under one or more
~ contributor license agreements.  See the NOTICE file distributed with
~ this work for additional information regarding copyright ownership.
~ The ASF licenses this file to You under the Apache License, Version 2.0
~ (the "License"); you may not use this file except in compliance with
~ the License.  You may obtain a copy of the License at
~
~    http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
~
-->

<sp-basic-view
    [showBackLink]="true"
    [backLinkTarget]="backLink"
    [padding]="true"
>
    <div
        nav
        fxFlex="100"
        fxLayoutAlign="start center"
        fxLayout="row"
        fxLayoutGap="10px"
        class="pl-10"
    >
        <button mat-flat-button color="accent" (click)="startAddDevice()">
            <mat-icon>add</mat-icon>&nbsp;{{ 'Add Device' | translate }}
        </button>
        <span fxFlex></span>
    </div>

    <div fxFlex="100" fxLayout="column">
        <sp-basic-header-title-component
            [title]="'Device Registry' | translate"
        ></sp-basic-header-title-component>

        @if (successMessage) {
            <div class="mb-sm sp-color-accent">
                {{ successMessage | translate }}
            </div>
        }
        @if (errorMessage) {
            <div class="mb-sm sp-color-warn">
                {{ errorMessage | translate }}
            </div>
        }

        @if (isAddingDevice) {
            <div
                fxLayout="column"
                fxLayoutGap="12px"
                class="mb-md sp-form-container"
                style="
                    padding: 16px;
                    border: 1px solid var(--color-bg-3);
                    border-radius: 4px;
                "
            >
                <div class="text-md font-emphasized">
                    {{ 'New Device' | translate }}
                </div>
                <div
                    fxLayout="row"
                    fxLayoutGap="16px"
                    fxLayoutAlign="start center"
                >
                    <mat-form-field color="accent">
                        <mat-label>{{ 'Device Name' | translate }}</mat-label>
                        <input matInput [(ngModel)]="newDevice.name" />
                    </mat-form-field>
                    <mat-form-field color="accent">
                        <mat-label>{{
                            'PLC IP Address' | translate
                        }}</mat-label>
                        <input matInput [(ngModel)]="newDevice.host" />
                    </mat-form-field>
                    <mat-form-field color="accent">
                        <mat-label>{{
                            'Polling Interval (ms)' | translate
                        }}</mat-label>
                        <input
                            matInput
                            type="number"
                            [(ngModel)]="newDevice.pollingIntervalMs"
                        />
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap="8px">
                    <mat-form-field color="accent">
                        <mat-label>{{ 'Adapter Type' | translate }}</mat-label>
                        <mat-select [(ngModel)]="newDevice.adapterType">
                            @for (opt of adapterTypeOptions; track opt.value) {
                                <mat-option [value]="opt.value">
                                    {{ opt.label | translate }}
                                </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap="8px">
                    <button
                        mat-flat-button
                        color="accent"
                        (click)="saveNewDevice()"
                    >
                        {{ 'Save' | translate }}
                    </button>
                    <button mat-button (click)="cancelAdd()">
                        {{ 'Cancel' | translate }}
                    </button>
                </div>
            </div>
        }

        <mat-accordion>
            @for (device of devices; track device.elementId) {
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{ device.name }}</mat-panel-title>
                        <mat-panel-description>
                            {{ device.host }}&nbsp;·&nbsp;{{
                                device.pollingIntervalMs
                            }}ms&nbsp;·&nbsp;{{
                                getAdapterTypeLabel(device.adapterType)
                                    | translate
                            }}
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    @if (editingId === device.elementId && editingDevice) {
                        <div fxLayout="column" fxLayoutGap="12px">
                            <div
                                fxLayout="row"
                                fxLayoutGap="16px"
                                fxLayoutAlign="start center"
                            >
                                <mat-form-field color="accent">
                                    <mat-label>{{
                                        'Device Name' | translate
                                    }}</mat-label>
                                    <input
                                        matInput
                                        [(ngModel)]="editingDevice.name"
                                    />
                                </mat-form-field>
                                <mat-form-field color="accent">
                                    <mat-label>{{
                                        'PLC IP Address' | translate
                                    }}</mat-label>
                                    <input
                                        matInput
                                        [(ngModel)]="editingDevice.host"
                                    />
                                </mat-form-field>
                                <mat-form-field color="accent">
                                    <mat-label>{{
                                        'Polling Interval (ms)' | translate
                                    }}</mat-label>
                                    <input
                                        matInput
                                        type="number"
                                        [(ngModel)]="
                                            editingDevice.pollingIntervalMs
                                        "
                                    />
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="8px">
                                <mat-form-field color="accent">
                                    <mat-label>{{
                                        'Adapter Type' | translate
                                    }}</mat-label>
                                    <mat-select
                                        [(ngModel)]="editingDevice.adapterType"
                                    >
                                        @for (
                                            opt of adapterTypeOptions;
                                            track opt.value
                                        ) {
                                            <mat-option [value]="opt.value">
                                                {{ opt.label | translate }}
                                            </mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="8px">
                                <button
                                    mat-flat-button
                                    color="accent"
                                    (click)="saveEdit()"
                                    [matTooltip]="'Save changes' | translate"
                                >
                                    <mat-icon>check</mat-icon>&nbsp;{{
                                        'Save' | translate
                                    }}
                                </button>
                                <button
                                    mat-button
                                    (click)="cancelEdit()"
                                    [matTooltip]="'Discard changes' | translate"
                                >
                                    {{ 'Cancel' | translate }}
                                </button>
                            </div>
                        </div>
                    } @else {
                        <div fxLayout="column" fxLayoutGap="8px">
                            <div fxLayout="row" fxLayoutGap="24px">
                                <div fxLayout="column">
                                    <span class="text-sm">{{
                                        'IP Address' | translate
                                    }}</span>
                                    <span class="text-md">{{
                                        device.host
                                    }}</span>
                                </div>
                                <div fxLayout="column">
                                    <span class="text-sm">{{
                                        'Polling Interval' | translate
                                    }}</span>
                                    <span class="text-md"
                                        >{{ device.pollingIntervalMs }}ms</span
                                    >
                                </div>
                                <div fxLayout="column">
                                    <span class="text-sm">{{
                                        'Adapter Type' | translate
                                    }}</span>
                                    <span class="text-md">{{
                                        getAdapterTypeLabel(device.adapterType)
                                            | translate
                                    }}</span>
                                </div>
                            </div>
                            <div
                                fxLayout="row"
                                fxLayoutGap="8px"
                                fxLayoutAlign="start center"
                                class="mt-sm"
                            >
                                <button
                                    mat-flat-button
                                    color="accent"
                                    (click)="openAddAdapterDialog(device)"
                                    [matTooltip]="
                                        'Add a datapoint/adapter for this device'
                                            | translate
                                    "
                                >
                                    <mat-icon>add</mat-icon>&nbsp;{{
                                        'Add Adapter' | translate
                                    }}
                                </button>
                                <button
                                    mat-icon-button
                                    (click)="startEdit(device)"
                                    [matTooltip]="'Edit device' | translate"
                                >
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button
                                    mat-icon-button
                                    color="warn"
                                    (click)="deleteDevice(device)"
                                    [matTooltip]="'Delete device' | translate"
                                >
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </div>
                    }
                </mat-expansion-panel>
            }
        </mat-accordion>

        @if (devices.length === 0 && !isAddingDevice) {
            <div
                fxLayoutAlign="center center"
                fxLayout="column"
                fxLayoutGap="8px"
                class="mt-lg"
            >
                <mat-icon style="font-size: 48px; height: 48px; width: 48px"
                    >devices_other</mat-icon
                >
                <span class="text-md">{{
                    'No devices registered yet.' | translate
                }}</span>
                <button
                    mat-flat-button
                    color="accent"
                    (click)="startAddDevice()"
                >
                    {{ 'Add your first device' | translate }}
                </button>
            </div>
        }
    </div>
</sp-basic-view>
